body, html {
	margin: 0;
	padding: 0;
	font-family: 'Orbitron', sans-serif;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 600px;
	min-width: 700px;
}

#contents {
	display: none;
}

#load-container {
	position: relative;
	margin: 0 auto;
	top: 100px;
	height: 200px;
	width: 200px;
	text-align: center;
}
#circular-load {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 200px;
	width: 200px;
	border: 16px solid #eee; 
    border-top: 16px solid #e74c3c; 
    border-radius: 50%;
    animation: loadPage 3.2s linear infinite;
}

#year {
	position: absolute;
	top: 100%;
	left: 45%;
	cursor: pointer;
	font-size: 24px;
	font-weight: 900;
}


#ground {
	height: 16px;
	width: 100%;
	background-color: black;
	position: absolute;
	bottom: 0;
}

.button {
	color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-weight: 900;
	font-size: 24px;
	padding: 4px 8px;
	border-radius: 4px;
	position: absolute;
	left: 25%;
	top: 75%;
	transition: 0.2s;
	cursor: pointer;
}

.button:hover {
	box-shadow: 0 3px 5px rgba(0,0,0,0.25), 0 3px 10px rgba(0,0,0,0.22);
}

#load {
	background-color: black;
}

#launch {
	background-color: red;
	display: none;
}

#snoopy-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 900;
	font-size: 48px;
	display: none;
	text-align: center;
	width: 100%;
}

#rocket-container {
	height: 300px;
	width: 200px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}

#rocket-container > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#snoopy-head {
	position: absolute;
	height: 50px;
	width: 50px;	
	left: 50%;
	transform: translateX(-50%);
	top: 78px;
	display: none;
}

#snoopy-head > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#astro-snoopy {
	height: 120px;
	width: 90px;
	position: absolute;
	left: -89px;
	bottom: 0;
}

#astro-snoopy > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}



.blast {
	animation: liftOff 4s cubic-bezier(.59,.07,.04,.98);
}

.loading {
	animation: loadKirby 4.5s cubic-bezier(.26,1.02,.59,-0.4);
}


@keyframes loadPage {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes liftOff {
	from {bottom: 0;}
	to {bottom: 150%;}
}

@keyframes loadKirby {
	from {left: -40px;}
	to {left: 50%;
		transform: translateX(-50%);}	
}

